
<%= simple_form_for [@startup, @discussion] do |f| %>

  <%= f.input :title %>
  <%= f.association :topic, as: :radio_buttons%>
  <%= f.hidden_field :user_id %>

  


  

  <div class="actions">
    <br /><%= f.submit %>
  </div>


<% end %>
