<% provide(:title, @discussion.title) %>
<p id="notice"><%= notice %></p>

<div class="row">
	<div class="span12 show_discussion rounded-corners shadow">
		<div class="row">
	      <div class="span12 su_title_bar top-rounded-corners">
	        <div class="su_logo_div">
	          <%= link_to (image_tag @startup.startup_logo.url, :class => "su_logo"), startup_path(@startup) %>
	        </div>
	        <div class="su_description">
	          <%= @startup.description %>
	        </div>
	      </div>
	    </div>
		<div class="row">
			<div class="span12">
				<div class="discussion_title_box">

					<div class="row">
						<div class="span1">
							<div class="topic-icon rounded">
				              <%= image_tag @discussion.topic.topic_icon.url %>
				            </div>
				        </div>
			            <div class="span10"> 
			            	<div class="row">
			            		<div class="span10"> 
									<h2 class="discussion_title"><%=@discussion.title %></h2>
								</div>
							</div>
							<div class="row">
								<div class="span10">
									<div class="discussion_user">
										
										<div class="discussion_user_name"><h4> 
											<%= link_to @discussion.user.name, @discussion.user %></h4> <%=@discussion.user.title %>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span12">
				<div class="discussion_icon">
					  <div class="new_comment rounded-corners">
				          <i class="icon-comments"></i>
				          <%= link_to "comment",new_startup_discussion_comment_path(@startup, @discussion)%>
				      </div>
		          <i class="icon-twitter"></i>
		          <i class="icon-facebook"></i> 
  		          <i class="icon-google-plus"></i>
  		          <i class="icon-linkedin"></i>
	  		    </div>
			</div>
		</div>

		<div class="row">
			<div class="span12">
				<div class="discussion_comment_parent rounded-corners">	
					<%= nested_comments @comments.arrange(:order => :created_at) %>
				</div>
			</div>
		</div>
	</div>
</div>
