<h3><%= comment.text %></h3><p><%=comment.user.name %></p>

	<%= link_to "reply", new_startup_discussion_comment_path(@startup, @discussion, :parent_id =>comment)%>
	<% if can? :update, comment %>
	    | <%= link_to "edit", edit_startup_discussion_comment_path(@startup, @discussion, comment)%>
	<% end %>
	
	<% if can? :destroy, comment %>
	<%= link_to "| delete", [@startup, @discussion, comment], confirm: 'Are you sure?', method: :delete%>
	<% end %>