<div class="row">
  <div class="span12 startup-discussion">
    
    <div class="row">
      <div class="span2 discussion-vote-meta">
        <div class="vote-arrows">
          <% if current_user%>
            <%= link_to (raw("<i class='icon-caret-up vote-arrows'></i>")), vote_startup_discussion_path(@d.get_startup, @d, type: "up"), method: "post" %>
            <%= link_to (raw("<i class='icon-caret-down vote-arrows'></i>")), vote_startup_discussion_path(@d.get_startup, @d, type: "down"), method: "post" %>
          <% end %>
        </div>
        <h6><%= @d.reputation_value_for(:votes).to_i%></h6>
        <div class="topic-icon rounded">
          <%= image_tag @d.topic.topic_icon.url %>
        </div>
      </div>
      <div class="discussion span10">
        <h3><%= link_to @d.title, startup_discussion_path(@startup, @d) %></h3>
        <div class="row">
          <div class="discussion-meta span10">
          Posted by <%= link_to @d.user.name, @d.user %>, <%= @d.user.title %> (32)
          <% if can? :update, @d %>
            <%= link_to 'Edit', edit_startup_discussion_path(@startup, @d) %>
          <% end %>
          <% if can? :destroy, @d %>
            <%= link_to 'Delete', [@startup, @d], confirm: 'Are you sure?', method: :delete %>
          <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>      