<%= simple_form_for(@startup) do |f| %>
  <% if @startup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@startup.errors.count, "error") %> prohibited this startup from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  
  <div class="field">
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :crunchbase %><br />
    <%= f.text_field :crunchbase %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <%= f.simple_fields_for :screenshots do |s| %>
    <%= s.label :screenshot %><br />
    <%= s.file_field :image_name %>
  <% end %>

  <%= f.simple_fields_for :logo do |l| %>
    <%= l.label :logo %><br />
    <%= l.file_field :image_name %>
  <% end %>

  
  <div class="field">
    <%= f.label :tag_ids, "Industries" %><br />
    <%= f.collection_select :tag_ids, Tag.order(:name), :id, :name, {}, {multiple: true} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% binding.pry %>
