<h1>Listing startups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Twitter</th>
    <th>Crunchbase</th>
    <th>Screenshot</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @startups.each do |startup| %>
  <tr>
    <td><%= startup.name %></td>
    <td><%= startup.url %></td>
    <td><%= startup.twitter %></td>
    <td><%= startup.crunchbase %></td>
    <td><%= startup.screenshot %></td>
    <td><%= startup.description %></td>
    <td><%= link_to 'Show', startup %></td>
    <% if can? :update, startup %>
        <td><%= link_to 'Edit', edit_startup_path(startup) %></td>
    <% end %>
    <% if can? :destroy, startup %>    
        <td><%= link_to 'Destroy', startup, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if can? :create, Startup %>
    <%= link_to 'New Startup', new_startup_path %>
<% end %>