<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @startup.logo%>
</p>

<p>
  <%= @startup.url %>
</p>

<p>
  <%= @startup.twitter %>
</p>

<p>
  <%= @startup.crunchbase %>
</p>

<p>
  <%= @startup.screenshot %>
</p>



<p>
  <%= @startup.description %>
</p>
<p>
<% @startup.discussions.each do |d| %>
      <tr>
        <td><%= d.title %></td>
        <td><%= link_to 'Edit', edit_startup_discussion_path(@startup, d) %></td>
        <td><%= link_to 'Delete', [@startup, d], confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</p>

<%= link_to 'New Discussion', new_startup_discussion_path(@startup) %> |



<%= link_to 'Edit', edit_startup_path(@startup) %> |
<%= link_to 'Back', startups_path %>
