
<div class="row">
  <div class="span12 startup_profile top-rounded-corners shadow">
    <div class="row">
      <div class="span12 su_title_bar top-rounded-corners">
        <div class="su_logo_div">
          <%=image_tag @startup.startup_logo.url%>
        </div> 
        <div class="su_description">
          <%= @startup.description %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12 screenshot">
        <%=image_tag @startup.screenshot.url%>
      </div>
    </div>
    <%= render 'startups/show_meta', :locals => {:startup => @startup} %>
    
    <%= render 'startups/discussion_bar', :locals => {:startup => @startup} %>
  


    <div class="row">
      <div class="span12 discussions">
        <% @startup.discussions.each do |d| %>
        <% @d = d %>
          <%= render 'startups/discussion', :locals => {:startup => @startup, :discussion => @d} %>
        <% end %>
      </div>
    </div>

  </div>
</div>







