
<footer class="footer">
	<div class="row">
		<div class="span4">
			<div class="footer_logo">
				<%= image_tag "logo-small.png", class: "pull-left logo-small"%>
				<%= link_to "disruptage", root_path, id: "logo" %>	
			</div>
			</br >
			</br >
			<nav>
				<ul>
					<li><%= link_to "About",   about_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
					<li><%= link_to "suggest a startup", suggest_path %> </li>
				</ul>
			</nav>
		</div>
		<div class="span6">
			<%= image_tag "footer-skyline.png", :class => "footer-skyline" %>
		</div>
	</div>    
</footer>